table.alunos {
  width: 350px;
  height: 200px;
  border-collapse: collapse;
  color: #737380;
}

table.alunos tbody tr:hover {
  background-color: #ffbc96;
}

table.alunos td, table.alunos th {
  border: 1px solid  rgba(240,240,245, 0.8);
  padding: 20px 20px;
}

table.alunos tbody td {
  font-size: 14px;
  padding: 20px 20px;
}

table.alunos tr:nth-child(even) {
  background: #D0E4F5;
}

table.alunos thead {
  background: #4fc4c4;
}

table.alunos thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

table.alunos thead th:first-child {
  border-left: none;
  text-align: left;
}

table.alunos tr td:last-child {
  cursor: pointer;
}

.reprovado {
  color: #e8524a;
}


@media screen and (min-width: 600px) {

  table.alunos tr td:last-child {
    text-align: center;
  }

  .row {
    margin-top: 80px;
    display: flex;
  }

  .nomeForm {
    flex: 3;
  }

  .notaForm {
    flex: 1;
  }
}


@media screen and (max-width: 600px) {
  table.alunos {
    border: 0;
  }
  
  table.alunos thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.alunos tbody tr:hover {
    background-color: none;
  }
  
  table.alunos tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    background: #fafafa;
  }
  table.alunos tr:nth-child(even) {
    background: #fafafa;
  }
  
  table.alunos td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table.alunos td:first-child {
    background: #D0E4F5;
    text-align: left;
  }

  table.alunos td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  table.alunos td:last-child {
    border-bottom: 0;
    text-align: right;
  }

  .notaForm {
    padding-top: 20px;
  }
}





/* PopUp - retirado do materialize-css */
.green {
  background-color: #4CAF50 !important;
}

.red {
  background-color: #F44336 !important;
}


/* 2dp elevation modified*/
.toast{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.toast .toast-action {
  color: #eeff41;
  font-weight: 500;
  margin-right: -25px;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}


